spring:
  application:
    name: trip-service
  datasource:
    url: jdbc:postgresql://trip-service-db:5432/trip_service_db
    username: trip_service_user
    password: trip_service_pass
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
  rabbitmq:
    host: rabbitmq
    port: 5672
    username: guest
    password: guest

server:
  port: 8082

management:
  endpoints:
    web:
      exposure:
        include: health,info
  endpoint:
    health:
      show-details: always

rabbitmq:
  exchange:
    trip: trip.exchange
  queue:
    trip-notification: trip.notification.queue
  routing-key:
    trip-notification: trip.notification
