apiVersion: apps/v1
kind: Deployment
metadata:
  name: user-service-db
spec:
  replicas: 1
  selector:
    matchLabels:
      app: user-service-db
  template:
    metadata:
      annotations:
        linkerd.io/inject: enabled
      labels:
        app: user-service-db
    spec:
      containers:
        - name: user-service-db
          image: postgres:15-alpine
          ports:
            - containerPort: 5432
          env:
            - name: POSTGRES_DB
              value: "user_service_db"
            - name: POSTGRES_USER
              value: "user_service_user"
            - name: POSTGRES_PASSWORD
              value: "user_service_pass"
          volumeMounts:
            - name: user-db-data
              mountPath: /var/lib/postgresql/data
      volumes:
        - name: user-db-data
          emptyDir: {}
