spring:
  application:
    name: driver-service

  data:
    redis:
      master:
        host: redis-master
        port: 6379
      replica:
        host: redis-replica
        port: 6379

  grpc:
    server:
      port: 9092

  rabbitmq:
    host: rabbitmq
    port: 5672
    username: guest
    password: guest

server:
  port: 8083

management:
  endpoints:
    web:
      exposure:
        include: health,info
  endpoint:
    health:
      show-details: always

rabbitmq:
  exchange:
    trip: trip.exchange
  queue:
    trip-notification: trip.notification.queue
  routing-key:
    trip-notification: trip.notification
