spring:
  application:
    name: driver-service

  data:
    redis:
      host: redis
      port: 6379

  grpc:
    server:
      port: 9092

server:
  port: 8083

management:
  endpoints:
    web:
      exposure:
        include: health,info
  endpoint:
    health:
      show-details: always

