apiVersion: autoscaling/v2
kind: HorizontalPodAutoscaler
metadata:
  name: api-gateway-hpa
spec:
  scaleTargetRef:
    apiVersion: apps/v1
    kind: Deployment
    name: api-gateway
  minReplicas: 2
  maxReplicas: 4
  metrics:
    # Use ContainerResource to target specific container (ignore linkerd-proxy)
    - type: ContainerResource
      containerResource:
        name: cpu
        container: api-gateway
        target:
          type: Utilization
          averageUtilization: 20
    - type: ContainerResource
      containerResource:
        name: memory
        container: api-gateway
        target:
          type: Utilization
          averageUtilization: 90