apiVersion: apps/v1
kind: Deployment
metadata:
  name: trip-service
spec:
  replicas: 1
  selector:
    matchLabels:
      app: trip-service
  template:
    metadata:
      labels:
        app: trip-service
    spec:
      containers:
        - name: trip-service
          image: trip-service:latest
          imagePullPolicy: Never
          ports:
            - containerPort: 8082
          env:
            - name: SPRING_PROFILES_ACTIVE
              value: "dev"
            - name: DB_HOST
              value: "trip-service-db"
            - name: DB_USER
              value: "trip_service_user"
            - name: DB_PASSWORD
              value: "trip_service_pass"
            - name: DB_NAME
              value: "trip_service_db"
            - name: DB_PORT
              value: "5432"
            
            - name: USER_GRPC_SERVICE_URL
              value: "user-grpc:50051"

